 <div class="auth auth--login animated fadeIn ">

 
    <app-loading *ngIf="loading"></app-loading>

    <ng-container *ngIf="!loading;"> 

            <form id="login" [formGroup]="form">
                
                <h1>Sign In</h1>
                <h2>Get access to more learning features</h2>
                <h2>Don't have an account?
                    <a href="#ni" 
                    title="Register"
                    [class.disabled]="disabled"
                    routerLink="/auth/register">Register</a>
                </h2>

                <div class="auth-wraper-full"> 

                    <app-email     [form]="form"></app-email>
                    <app-password  [form]="form"></app-password>
                                         
                    
                    <div *ngIf="isError" class="invalid-feedback">
                        <p class="error_formulario">El usuario o contraseña son incorrectos.</p>
                    </div>

                </div>

                <a href="#ni"  routerLink="/auth/forget" tittle="Forgot your password?" class="forgotuser">Forgot your password?</a>
        
            </form>
        
        <!-- mod botones  --> 
            <ul class="menu-buttons menu-buttons--vertical">
                <li class="menu-buttons-item">
                    <a class="btn btn--save" 
                         [class.disabled]="form.invalid"
                        title="Sign In"
                        (click)="login()">
                            Sign In
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
 
    </ng-container>

</div>    



