 

<div class="auth-wraper auth-wraper--pasword" 
     [class.auth-wraper--error]="isInvalid('password')"
     [class.auth-wraper--ok]="!passwordControl?.errors"
      [formGroup]="form">
    
            <label for="password">Password</label>
            <i class="fa fa-lock fa-ico" aria-hidden="true"></i>
 
            <input type="password"
                    id="password"
                    #inputPass
                    placeholder="Contraseña"
                    maxlength="10"
                    autocomplete="off"
                    formControlName="password"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                    [class.is-invalid]="isInvalid('password')"
                    [attr.aria-invalid]="isInvalid('password')"
                    required />                    
    
            <div class="auth-pasword-show" (click)="passwordShowhide(inputPass, '.eye')">
                <i class="fa fa-eye eye" aria-hidden="true"></i>
            </div>
    
            <ul class="auth-wraper--erroroption" *ngIf="isInvalid('password')  && passwordControl?.errors">
                <li class="auth_erroroption" [class.error]="passwordControl?.errors?.['minLength']">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Mínimo 8 caracteres
                </li>
                <li class="auth_erroroption" [class.error]="passwordControl?.errors?.['uppercase']">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Debe tener una mayúscula
                </li>
                <li class="auth_erroroption" [class.error]="passwordControl?.errors?.['lowercase']">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Debe tener una minúscula
                </li>
                <li class="auth_erroroption" [class.error]="passwordControl?.errors?.['number']">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Debe tener un número
                </li>
                <li class="auth_erroroption" [class.error]="passwordControl?.errors?.['symbol']">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Debe tener un símbolo
                </li>
            </ul>

            
            
</div> 

<div class="auth-wraper auth-wraper--pasword" 
    *ngIf="includeConfirm"
     [class.auth-wraper--error]="form.errors?.['notMatching']"
     [class.auth-wraper--ok]="!form.errors?.['notMatching']"
      [formGroup]="form">

    <label for="password">Confirmar Password</label>
    <i class="fa fa-lock fa-ico" aria-hidden="true"></i>
    <input
            type="password"
            #inputPass2
            formControlName="confirmPassword"
            placeholder="Confirmar contraseña"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (copy)="blockAction($event)"
            (cut)="blockAction($event)"
            (paste)="blockAction($event)"
            [class.is-invalid]="isInvalid('confirmPassword')"
            [attr.aria-invalid]="isInvalid('confirmPassword')"
                    required />                    
    
            <div class="auth-pasword-show" (click)="passwordShowhide(inputPass2, '.eye2')">
                <i class="fa fa-eye eye2" aria-hidden="true"></i>
            </div>
            <div class="error" >
                
            </div>

            <ul class="auth-wraper--erroroption" *ngIf="form.errors?.['notMatching']">
                <li class="auth_erroroption error2" ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Las contraseñas no coinciden</li>
            </ul> 

</div>

 