//H1
%h1-font-size{
	font-size:2rem;
}

//H2
%h2-font-size{
	font-size:1.8rem;
}

//H2
%h3-font-size{
	font-size:1.4rem;
}
//T1
%text-font-size{
	font-size:1.6rem;
}
//T2
%text-font-size-second{
	font-size:1.6rem;
}

%setion-click-font-size{
	font-size:1.8rem;
}