 <div class="auth auth--login animated fadeIn ">
                    
            <form id="forget" [formGroup]="form">
                
                <h1>¿Olvidaste la contraseña?</h1>
                <h2>Introduce la dirección de correo electrónico que usas en Coursera. <br/> Te enviaremos un enlace para restablecer tu contraseña.</h2>

                <div class="auth-wraper-full">
                 
                     <app-email [form]="form"></app-email>

                </div>


  
            </form>
        
        <!-- mod botones  --> 
            <ul class="menu-buttons menu-buttons--vertical">
                <li class="menu-buttons-item">
                    <a class="btn btn--save" 
                        title="Send reset link"
                        [class.disabled]="form.invalid"
                        (click)="reset()">
                            Send reset link
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </li>
            
            </ul>
 

</div>    



