  


    <div class="auth-wraper auth-wraper--email"
        [class.auth-wraper--error] ="isInvalid('email')"
        [class.auth-wraper--ok] ="!isInvalid('email')"
        [formGroup]="form">

        <label for="email">Correo Electronico *</label>
        <i class="fa fa-envelope fa-ico" aria-hidden="true"></i>
        <input name="email" type="email" 
                id="emailForm" 
                placeholder="nombre@correo.com"
                autofocus=""
                formControlName="email"
                [class.is-invalid]="isInvalid('email')"
                [attr.aria-invalid]="isInvalid('email')"                                
                #inputEmail required autocomplete="off"/> 

        <ul class="auth-wraper--erroroption"  *ngIf="isInvalid('email')  && emailControl?.errors">
            <li class="auth_erroroption error2"  *ngIf="emailControl?.errors?.['required']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>El email es obligatorio</li>
            <li class="auth_erroroption error2"  *ngIf="emailControl?.errors?.['pattern']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Formato de email no válido</li>
        </ul> 

    </div>    