@charset "UTF-8";
 

@mixin font-face($font-family, $font-url, $font-name, $font-weight, $font-style) {
  @font-face {
    font: {family: $font-family;}
    src: url('../../'+$font-url + '/' + $font-name + '.woff2') format('woff2');
    font-weight: $font-weight;
    font-display: swap;
    font-style: $font-style;
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
  }
}

$breakpoints: (
  xs: 420px,
  sm: 768px,
  ms: 992px,
  md: 1100px,
  lg: 1400px,
) !default;

@mixin respond($key) {
  $value: map-get($breakpoints, $key);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}