
@use '../core/variables' as *;
@use '../core/fonts' as *;
@use '../core/mixins' as *;

.auth{
 
    position: relative; 
    height:calc(98vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;

    label{display: none;}
    p{
        line-height: normal;
    }

    .forgotuser{
        color: $blue;   
    }

    a{
        cursor:pointer;
    }

    a:hover:not(.btn){
        text-decoration: underline;
    }


    input{
        color:$blue2; 
        &.is-invalid{
            border-color:$red!important;
           &:not([type="email"]):not([name="name"]) {
                border-right: 0 !important;            
            }
        }

        &.ng-valid{
            border-color:$green2;
        }
    }
    
    &-wraper-full{
        padding:3rem 0 0rem 0;
    }

    &-wraper{
        position: relative;
        max-width: 26rem;
        width: 100%;
        padding: 0;
        margin:0 0 1rem 0;
        flex-wrap: wrap;

        &--error{
            input{
                border-color: $red!important;
            }
            .auth-pasword-show{
                border-color: $red!important;
            }
        }

        &--confirmation{
            margin-top: 2rem;
            label{
                display: block;
                font-size: 1.25rem;
                line-height: 1.5rem;
                a{
                    color: $blue!important;

                }
            }   
            & .error{
                color: #dc3545;
                line-height: 1.2rem;
                font-size: 1.2rem;
                text-align: left;
                padding-top: .5rem;
            }
        }

        &--erroroption{
             
            padding-top: .3rem;
            font-size: 1.2rem;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: left;
            & .auth_erroroption{
                color:$msg-errorok;
                text-align: left;margin:0;padding:0;line-height: normal;
                .fa{
                    color:$msg-errorok;
                    padding-right:.5rem
                }
                &.error,&.error2{
                    color:$msg-errorinit;
                    .fa{
                        color:$msg-errorinit;
                        opacity: .2;
                    }
                }
                &.error2{
                    color:$msg-error;
                    .fa{ 
                        color:$msg-error;
                        opacity: 1;
                    }
                }
            }
        }
        
        & .fa-ico{
            position: absolute;
            top: 1.05rem;
            left: 1rem;
            color: $blue2;
            opacity: .6;
            &.fa-lock{
                font-size: 1.8rem;
            }
            &.fa-envelope{
                left:.8rem;
                font-size: 1.49rem;
                top: 1.1rem;
            }
            
            & + input{
                padding-left: 2.8rem;
                width: calc(100% - 3.981rem);
            }
        }

        &--pasword{
            width: 100%;
            display: flex;
        
            & input[type=password], input[type=text] , input[type=email] {
                width: calc(100% - 7.1rem);
                outline: none;
                border-right: 0 !important;
                border-top-right-radius:0;
                border-bottom-right-radius:0; 
            }
        
            & .auth-pasword-show{ 
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
                margin: 0;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
                color: $blue2;
                text-align: center;
                white-space: nowrap;
                background-color: $white;
                border: 1px solid $blue;
                border-radius: 0.375rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 1px solid $blue8;
                width: 3rem; 
                max-height: 3.7rem;
                &:hover{
                  cursor: pointer;
                }
                &.ng-invalid.ng-touched{
                    border-color:$red!important; 
                }
                &.ng-valid{
                    border-color:$green2!important;
                }                
            }  
        }
        
        .invalid-feedback{
            padding: 1rem 0;
            display: inline-block;
            width: 100%;
            text-align: left;
            flex: 1 0 0;
        }

        &--ok{
            input,
            .auth-pasword-show{
                border-color: $green2!important;
            }
        }
        
    }
}


.toggle-button {
    display: inline-flex; 
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 12px;
    cursor: pointer;
  }
  
  .eye-icon {
    width: 20px;
    height: 20px;
  }